<hr>
<h2>Contatos</h2>
<hr>
<!--
    Criar uma função para armazenar os dados do formulário de contato no localStorage
-->
<form id="contatos">
    <div class="form-group">
        <input type="text" name="nome" required id="nome" class="form-control" placeholder="Nome">
    </div>
    <div class="form-group">
        <input type="email" name="email" required id="email" class="form-control" placeholder="E-mail">
    </div>
    <div class="form-group">
        <input type="text" name="assunto" required id="assunto" class="form-control" placeholder="Assunto">
    </div>
    <div class="form-group">
        <label for="comentario">Comentário:</label>
        <textarea name="comentario" required id="comentario" cols="30" rows="10" class="form-control" >
        </textarea>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-success" value="Enviar">
        <input type="reset" class="btn btn-secondary" value="Limpar">
    </div>
</form>
<script src="js/contato.js"></script>